/* Kulüp Renkleri: */
/* Navy - #223242 */
/* Sarı - #FDD781 */

$navy: #223242;
$sari: #fdd781;

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-image: url('../assets/ytu.jpg'); */
	height: 100vh;
	object-fit: cover;
	background-color: $navy;
}

.container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.contents {
	width: 100%;
	height: 100%;
	// background-color: red;
}

.sidebar {
	width: 6rem;
	background-color: $navy;
	display: flex;
	justify-content: center;
	align-items: center;

	#icon {
		color: $sari;
		border: none;
		background-color: transparent;
	}
}

.landing-page {
	.kulup-logosu {
	}
	#ytu-text {
	}
	#mentorluk-text {
	}
}

.landing-page {
	color: red;
}
